.component {
  display: block;
  color: #212529;
  border-radius: 0.25rem;
  background-color: #FFF;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.title {
   font-size: 140%;
   line-height: 1.5;
}
