.navigaton {
  display: flex;
  justify-content: space-between;
}

.navigationButton {
  color: #000;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 48%;
  text-align: center;
  background-color: #fcc419;
}

.prevButton {
  composes: navigationButton;
}

.nextButton {
  composes: navigationButton;
  margin-left: auto;
}
